* {
  margin: 0;
  padding: 0;
}
body{
	background: #F3904F;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container{
	display: flex;
	padding: 10px;
	flex-wrap: wrap;
	width:45vh;
	margin: 100px;
	border-radius: 15px;
	background: #acc6aa;
}

.button{
	width: 40%;
	height: 48px;
	margin: 5px;
	flex-basis: 20%;
	border: 1px solid #5d3a3a;
	text-align: center;
	font-size: 34px;
	border-radius: 10px;
	font-weight: bold;
}

.button:nth-of-type(even){
	background: #f7b633;
}

.button:nth-of-type(odd){
	background: #bd512f;
}

#special{
	flex-grow: 1;
	background: white;
}
